body {
  color: #333333;
  font-family: monaco, monospace;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 48em;
  padding: 0 1em;
}
h1, h2, h3, h4, h5, h6 {
  margin: 1.25em 0 0.5em 0;
  line-height: 1.2;
}
a, a:hover, a:active, a:visited {
  text-decoration: none;
}
a:link {
  color: #044f3b;
}
a:visited {
  color: #044f3b;
}
a:focus, a:hover {
  color: #367262;
}
a:active {
  color: #4f0418;
}
h1 a:empty:before, h2 a:empty:before, h3 a:empty:before,
h4 a:empty:before, h5 a:empty:before, h6 a:empty:before {
  content: "#";
}
h1 a:empty, h2 a:empty, h3 a:empty, h4 a:empty, h5 a:empty, h6 a:empty {
  visibility: hidden;
  padding-left: 0.25em;
}
h1:hover a:empty, h2:hover a:empty, h3:hover a:empty,
h4:hover a:empty, h5:hover a:empty, h6:hover a:empty {
  visibility: visible;
}
img {
  max-width: 100%;
}
figure {
  margin: 1em 0;
  text-align: center;
}
figcaption {
  font-size: small;
}
pre, code, samp, kbd {
  color: #333333;
  font-family: monospace, monospace;
}
pre kbd {
  color: #000000;
  font-weight: bold;
}
pre, blockquote {
  background: #eeeeee;
  padding: 0.5em;
}
pre {
  overflow: auto;
}
blockquote {
  border-left: medium solid #cccccc;
  margin: 1em 0;
}
blockquote :first-child {
  margin-top: 0;
}
blockquote :last-child {
  margin-bottom: 0;
}
table {
  border-collapse: collapse;
}
th, td {
  border: thin solid #999999;
  padding: 0.3em 0.4em;
  text-align: left;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #111111;
    color: #bbbbbb;
  }
  a:link {
    color: #6eb183;
  }
  a:visited {
    color: #6eb183;
  }
  a:focus, a:hover {
    color: #588e69;
  }
  a:active {
    color: #b16e7f;
  }
  pre, code, samp, kbd {
    color: #bbbbbb;
  }
  pre kbd {
    color: #ffffff;
    font-weight: bold;
  }
  pre, blockquote {
    background: #222222;
  }
  blockquote {
    border-color: #333333;
  }
  th, td {
    border-color: #666666;
  }
}
ol > li {
  list-style-type: decimal-leading-zero;
}
ul > li {
  list-style-type: square;
}
#header {
  width: 100%;
  clear: both;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
#header-left {
  float: left;
  text-align: center;
}
#header-left > a > img {
  width: 180px;
  text-align: center;
}
#header-right {
  float: right;
  margin-right: 160px;
  text-align: center;
}
#header-right > h1 {
  font-size: 2.8em;
}
#header-right > a {
  margin: 0px 16px;
}
#footer {
  display: block;
  text-align: center;
}
.title {
  display: inline-block;
}
.date {
  display: inline-block;
  float: right;
  font-size: 0.9em;
}
@media (max-width: 768px) {
  #header-left {
    float: none;
    margin: 0;
    padding: 0;
  }
  #header-right {
    float: none;
    margin: 20px 0;
    padding: 0;
  }
}
